.input-number-format {
  border: 1px solid #d9d9d9;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1.5715;
  border-radius: 2px;
  font-feature-settings: "tnum", "tnum";
  position: relative;
  width: 100%;
  text-align: right;
}

.input-number-format:hover {
  border-color: #40a9ff;
  border-right-width: 1px !important;
}

.input-number-format:disabled {
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
  opacity: 1;
}

.ant-form-item-control-input-content {
  text-align: right;
}

.ant-input-group {
  padding-right: 0;
}
.ant-form-item-control-input-content {
  text-align: left;
}

.ant-form-item-control-input-content {
  text-align: right;
}