.deli-status-temp {
  background-color: #455a64;
}

.deli-status-wait {
  background-color: #00bcd4;
}

.deli-status-alloc {
  background-color: #ff8f00 !important;
}

.deli-status-pkup {
  background-color: #aa00ff;
}

.deli-status-done {
  background-color: #4caf50;
}

.deli-status-cancel {
  background-color: #f44336;
}

.ant-table tr:hover td {
  background-color: transparent !important;
}

table tbody {
  font-size: 10pt;
}

.ant-table-scroll {
  overflow-y: hidden;
}

.ant-table-row td {
  padding: 2px 6px !important;
}
.box-checked-show {
  display: none;
}

.test tbody {
  color: white;
}
