 .deli-status-temp .deli-status {
    background-color: #455A64
  }
  
  .deli-status-wait .deli-status {
    background-color: #00BCD4
  }
  
  .deli-status-alloc .deli-status {
    background-color: #FF8F00
  }
  
  .deli-status-pkup .deli-status {
    background-color: #AA00FF;
  }
  
  .deli-status-done .deli-status {
    background-color: #4CAF50;
  }
  
  .deli-status-cancel .deli-status {
    background-color: #F44336;
  }

  table tbody {
    color: white;
    font-size: 10pt;
  }
  
  .ant-table-scroll {
    overflow-y: hidden;
  }
  .ant-table-row {
    cursor: pointer;
  }

  .ant-table th {
    text-align: center !important;
  }

  .ant-table tr:hover td {
    background-color: transparent !important;
  }

  .ant-table-row td {
    padding: 2px 6px !important;
  }