#errand-header {
    width: 100%;
    height: 44px;
    background-color: #FAFAFA;
    padding: 4px 16px;
}

#errand-header-search-option {
    float: left;
}

.page-body-wrapper {
    float: left;
}

.errand-list-table-wrapper {
    background-color: white;
}

.errand-list-table-wrapper table{
    min-width: 100% !important;
    width: calc(80px + 140px + 80px + 280px + 80px + 50px + 120px + 160px + 160px + 80px + 80px + 80px + 80px) !important;
}

.errand-list-table-wrapper table tbody{
    font-size: 10pt;
}

#errand-header-range-date-picker {
    margin-right: 8px;
}

#errand-header-right {
    float: right;
}

.errand-settlement-date-list-wrapper {
    width: 320px;
    height: 100%;
    float: left;
}

#errand-list-wrapper {
    width: calc(100% - 320px);
    height: 100%;
    float: left;
}

.errand-page-header {
    height: 40px;
    background-color: white;
    padding-bottom: 50px;
}

.errand-header-range-date-picker {
    width: 320px;
    height: 40px;
    vertical-align: middle;
    float: left;
}

.errand-header-search {
    width: calc(100% - 320px - 100px - 16px);
    height: 40px;
    vertical-align: middle;
    margin: 0px 8px;
    float: left
}

.errand-header-company {
    width: 100px;
    vertical-align: middle;
}


.callHistory tbody {
    color: white;
  }
  
